<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERPClient - Quotations List</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/list.css}">
</head>
<body>

<header th:include="fragments/navbar"></header>

<main class="container">
    <h1 class="my-4">
        Purchase Orders from '<span th:text="${po.supplierName}"></span>'
    </h1>

    <!-- General Quotation Info -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Supplier</th>
                <th>Status</th>
                <th>Transaction Date</th>
                <th>Required By</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${po.name}"></td>
                <td th:text="${po.supplierName}"></td>
                <td th:text="${po.status}"></td>
                <td th:text="${po.transactionDate}"></td>
                <td th:text="${po.scheduleDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Items Table -->
    <div class="table-container">
        <h2>Items</h2>
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-dark">
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Uom</th>
                <th>Rate</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,iterStat : ${items}">
                <td th:text="${item.itemCode}"></td>
                <td th:text="${item.itemName}"></td>
                <td th:text="${item.qty}"></td>
                <td th:text="${item.uom}"></td>
                <td class="item-rate" th:text="${item.rate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>