<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERPClient - Quotations List</title>
</head>
<body>
<h1>Quotations List</h1>

<!--general-->
<div></div>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Supplier</th>
        <th>Status</th>
        <th>Transaction Date</th>
        <th>Valid Till</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sq : ${supplierQuotations}">
        <td th:text="${sq.name}"></td>
        <td th:text="${sq.supplierName}"></td>
        <td th:text="${sq.status}"></td>
        <td th:text="${sq.transactionDate}"></td>
        <td th:text="${sq.validTill}"></td>
    </tr>
    </tbody>
</table>

<!--items-->
<div></div>
</body>
</html>