<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERPClient-Login</title>
</head>
<body>
<div id="login-container">
    <form>
        <div>
            <label>Username:</label>
            <input type="text" name="inp-usr" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="text" name="inp-pwd" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>